*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

::placeholder{
   color:rgb(191, 186, 186);
   font-size: 16px;
}
.log-in-page-container{
    width:100vw;
    height:100vh;
    background-color: #254441;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.log-in-page-container form{
    padding: 70px 50px 40px 50px;
    background-color: rgba(255,255,255,0.5);
    width:400px;
    height:auto;
    border-radius: 5px;
    position: relative;
  
}
.log-in-page-container form figure img{
    border-radius: 50%;
}
.log-in-page-container form figure{
 position: absolute;
 top:-35px;
 left:170px;
}
.log-in-page-container form .input-field-conainer{
    margin-bottom: 10px;
    
}

.log-in-page-container form .input-field-conainer a{
    margin-left: -5px;
    display: inline-block;
    width:40px;
    /* height:35px; */
    padding:8px 0 9px 4px;
    /* line-height: 34px; */
    background-color: black;  
   text-align: center;
 
}
.log-in-page-container form .input-field-conainer a img{
    width:40%;
    /* height:70%; */
}
.log-in-page-container form .input-field-conainer input[type="text"],
.log-in-page-container form .input-field-conainer input[type="password"],
.log-in-page-container form .input-field-conainer input[type="email"]
{
    width:80%;
    border:none;
    outline:none;
    background: none;
    background-color: #254441;
    padding: 10px;
    border-radius: 2px;
    color:white;
}
.log-in-page-container form .input-field-conainer input[type="checkbox"]{
    border:none;
    outline:none;
    background: none;
    background-color: #254441;
}
.log-in-page-container form input[type="submit"]{
    outline:none;
    border:none;
    background: none;
    background-color: #254441;
    padding: 7px 20px;
    color:white;
    cursor: pointer;
}
.log-in-page-container form input[type="submit"]:hover{
    background-color: #141d1c
}
.log-in-page-container form #rememberme-text{
    margin-right: 5px;
    color:rgb(237, 233, 233);
    

}
